.searchForm {
  height: 220px;
  width: 320px;
  border: 2px solid #25252675;
  margin: 5px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 12px 2px rgba(62, 62, 62, 0.559);
}
.searchForm_inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-top: 10px;
}
.searchForm_title {
  margin: 0px;
  padding-top: 10px;
}
input {
  padding: 3px;
}
.add-btn {
  padding: 5px;
  background-color: #349e11ab;
  border-radius: 5px;
  border: none;
  color: white;
  width: 85px;
}
.add-btn:hover {
  background-color: #349e11e8;
}
