.searchForm{
    height: 220px;
    width: 320px;
    border: 1px solid;
    margin: 5px auto;
    padding: 20px;
}
.searchForm_inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.searchForm_title{
    margin-bottom: 0px;
}
input{
    margin-top: 5px;
    margin-bottom: 10px;
}
button {
    margin: 5px;
}
