.cont_list {
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0px;
  margin: 0px;
}
.cont_list > li {
  list-style: none;
  border: 2px solid #25252656;
  width: 360px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3px;
  box-shadow: 0px 0px 9px 1px rgba(62, 62, 62, 0.559);
}
.cont_list > li > a {
  text-decoration: none;
  color: inherit;
}
.dell-btn {
  padding: 5px;
  background-color: #e11f0dab;
  border-radius: 5px;
  color: white;
  border: none;
  width: 85px;
}
.dell-btn:hover {
  background-color: #e11f0dda;
}
